<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br /><br />
      <h2>About Manks</h2>
      <br />
      <p>Our members work for some of the hottest companies in tech. Our new grads are working for companies such as
        Confluent and Facebook. And our students have held internships at companies such as Stripe and Google.</p>

      <p>Although most of our members are engineers, we accept any specialty. Our students’ majors vary from
        biochemistry to business. (As long as you show potential for greatness, you can be a Mank).</p>

      <p>We have Manks across the globe. Our PR director is based in New York and our Recruiting director is currently
        based in Australia. We have chapters in Maryland and the Philippines! We will accept anyone from anywhere as
        long as they uphold our values.</p>
      <br />
    </div>
  </div>
</section>